body {
	background-color: #e3f2fd;
}
.navbar li {
		display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #cc0323
}
}
.container h1{
	font-size: 70px;
	color: #1e88e5;
}
.left img{
	
	float: left;
}
.right{
	float: right;
	font-family: verdana;
	font-size: 20px;
	color: #b39bbd;
}
.mix{
	margin-top: 100px;
}
.footer{
	margin-top: 400px;
	text-align: center;
}